*, *::after, *::before{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(47, 47, 179);;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    background-color: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 50%;
    border: solid black;
    position: relative;
}

.clock .number{
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 3rem;
}
.clock .number1{
    --rotation:30deg;
}
.clock .number2{
    --rotation:60deg;
}
.clock .number3{
    --rotation:90deg;
}
.clock .number4{
    --rotation:120deg;
}
.clock .number5{
    --rotation:150deg;
}
.clock .number6{
    --rotation:180deg;
}.clock .number7{
    --rotation:210deg;
}.clock .number8{
    --rotation:240deg;
}.clock .number9{
    --rotation:270deg;
}.clock .number10{
    --rotation:300deg;
}.clock .number11{
    --rotation:330deg;
}

.clock .hands{
    position: absolute;
    width: 10px;
    height: 40%;
    background-color: black;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
}